{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section id="movies">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
                <a href={{path("")}}>Home</a>
                <div class="title">
                    <h1>New Movie</h1>
                </div>
            </div>
            <div class="col-md-12">
                {{ form_errors(form) }}
                {{form_start(form)}}
                <div class="col-md-4">
                    {{form_row(form.title, { 'attr' : { 'class': 'form-control' } })}}
                </div>
                <div class="col-md-4">
                    {{form_row(form.description, { 'attr' : { 'class': 'form-control' } })}}
                </div>
                <div class="col-md-2">
                    {{form_row(form.save, { 'attr' : { 'class': 'btn btn-primary' } })}}
                </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
</section>
{% endblock %}